.Water_view {
  padding: 0px 0px 0px 40px;
  width: 60%;
  justify-content: center;
}


/* Add this CSS to your WaterBill.css or in your style tag */

/* water-popup1 styles */
.water_popup1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#3746c8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 500px;
  color: white;
}

/* water-popup2 styles */
.water_popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 500px;
  color: white;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  /* Adjust styles for screens with width up to 600px */
  .water_popup1, .water_popup2 {
    width: 90%;
  }
}

@media (max-width: 400px) {
  /* Adjust styles for screens with width up to 400px */
  .water_popup1, .water_popup2 {
    width: 80%;
  }
}
